@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Main style settings */
body {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text */
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #2A473B; /* Dark green */
  padding: 1rem;
  text-align: center;
  color: #ACAD94; /* Light olive text */
}

main {
  flex: 1; /* This allows the main content to grow and push the footer down */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 5rem; /* Increase font size */
  font-family: 'Roboto', sans-serif; /* Professional font style */
  color: #ACAD94; /* Dark brown text */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #ACAD94; /* Light olive for links */
  text-decoration: none;
  font-family: 'Roboto', sans-serif; /* Professional font style */
  font-size: 2rem;
}

nav ul li a.active {
  border-bottom: 2px solid #ACAD94; /* Highlight active link */
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
  gap: 1rem; /* Space between grid items */
  padding: 1rem;
}

.project {
  position: relative;
  border: 1px solid #502419; /* Dark brown border */
  background-color: #ACAD94; /* Light olive background */
  color: #502419; /* Dark brown text */
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.05);
}

.project img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #502419; /* Dark brown border for images */
}

.project .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project:hover .overlay {
  opacity: 1;
}

.overlay a {
  color: #ffffff; /* White text */
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.overlay a:hover {
  color: #ffea00; /* Bright yellow */
}

.overlay a i {
  margin-right: 0.5rem;
}

.error {
  color: red;
}

/* Footer styles */
footer {
  background-color: #2A473B; /* Dark green */
  padding: 1rem;
  text-align: center;
  color: #ACAD94; /* Light olive text */
  width: 100%;
  margin-top: auto; /* Push footer to the bottom */
}

.social-icons a {
  color: #ACAD94; /* Light olive for links */
  margin: 0 0.5rem;
  font-size: 2rem;
  transition: color 0.3s ease; /* Smooth color transition */
}

.social-icons a:hover {
  color: #ffffff; /* Change color on hover */
}

/* Contact form */
form {
  background-color: #ACAD94; /* Light olive background */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #502419; /* Dark brown border */
  border-radius: 4px;
  background-color: #ffffff; /* White background */
  color: #2A473B; /* Dark green text */
}

form input[type="submit"] {
  background-color: #502419; /* Dark brown */
  color: #ACAD94; /* Light olive text */
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background transition */
}

form input[type="submit"]:hover {
  background-color: #3f1e16; /* Darker brown background on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .logo {
    font-size: 3rem; /* Smaller font size for mobile */
  }

  nav ul li a {
    font-size: 1.5rem; /* Smaller font size for mobile */
  }
}

/* About Me styles */
.about-me {
  text-align: center;
  padding: 2rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  width: 150px; /* Adjust size as needed */
  height: 150px;
  object-fit: cover;
  margin-top: 1rem;
}

.about-description {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #000000; /* Dark text */
}